<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsb.dao.PurchaseMapper">
    <resultMap id="purchaserequestmap" type="com.bsb.model.PurchaseRequestTable">
        <id property="id" column="PR_Id"/>
        <result property="time" column="PR_Time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="user" column="PR_User"/>
        <result property="state" column="PR_State"/>
    </resultMap>
    <select id="getAllPurchaseRequestTables" resultMap="purchaserequestmap">
        select * from 2020rg_group12_purchaserequest order by PR_Time desc
    </select>
    <select id="getUncheckedPurchaseRequestTables" resultMap="purchaserequestmap">
        select * from 2020rg_group12_purchaserequest where PR_State = 0  order by PR_Time desc
    </select>
    <select id="getPassedPurchaseRequestTables" resultMap="purchaserequestmap">
        select * from 2020rg_group12_purchaserequest where PR_State = 1  order by PR_Time desc
    </select>
    <select id="getUnpassedPurchaseRequestTables" resultMap="purchaserequestmap">
        select * from 2020rg_group12_purchaserequest where PR_State = -1  order by PR_Time desc
    </select>
    <select id="getPurchaseRequestTablesbyId" parameterType="String" resultMap="purchaserequestmap">
    	select * from 2020rg_group12_purchaserequest where PR_Id like #{id}  order by PR_Time desc
    </select>
    <select id="getPurchaseRequestTablesbyUser" parameterType="String" resultMap="purchaserequestmap">
    	select * from 2020rg_group12_purchaserequest where PR_User like #{user}  order by PR_Time desc
    </select>
    <select id="getPurchaseRequestTablesbyTime" parameterType="String" resultMap="purchaserequestmap">
    	select * from 2020rg_group12_purchaserequest where PR_Time like #{time}  order by PR_Time desc
    </select>
    
    <resultMap id="purchaserequestcontentmap" type="com.bsb.model.PurchaseRequestContent">
        <id property="id" column="PRC_Id"/>
        <result property="tableid" column="PR_Id"/>
        <result property="name" column="PRC_Name"/>
        <result property="number" column="PRC_Number"/>
        <result property="notes" column="PRC_Notes"/>
        <result property="state" column="PRC_State"/>
        <result property="reason" column="PRC_Reason"/>
    </resultMap>
    <select id="getPurchaseRequestContentbyTableId" parameterType="String" resultMap="purchaserequestcontentmap">
    	select * from 2020rg_group12_purchaserequestcontent where PR_Id = #{id}
    </select>
    <update id="setPurchaseRequestContentCheckState">
    	update 2020rg_group12_purchaserequestcontent set PRC_State = #{state}, PRC_Reason = #{reason} where PRC_Id = #{id}
    </update>
    <update id="setPurchaseRequestCheckState">
    	update 2020rg_group12_purchaserequest set PR_State = #{state} where PR_Id = #{id}
    </update>
    
    <select id="getBuyerId" resultType="String">
    	select PB_Id from 2020rg_group12_purchasebuyer order by PB_Num asc limit 1
    </select>
    <update id="addBuyerNum" parameterType="String">
    	update 2020rg_group12_purchasebuyer set PB_Num = PB_Num + 1 where PB_Id = #{id}
    </update>
    
    <resultMap id="purchaseordermap" type="com.bsb.model.PurchaseOrderTable">
        <id property="id" column="PO_Id"/>
        <result property="time" column="PO_Time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="user" column="PO_User"/>
        <result property="buyer" column="PO_Buyer"/>
        <result property="state" column="PO_State"/>
    </resultMap>
    <insert id="createPurchaseOrder">
    	insert into 2020rg_group12_purchaseorder(PO_Id, PO_User, PO_Buyer, PO_State) values(#{id}, #{user}, #{buyer}, 0)
    </insert>
    <insert id="createPurchaseOrderContent">
    	insert into 2020rg_group12_purchaseordercontent(PO_Id, POC_Name, POC_Number, POC_State) values(#{id}, #{name}, #{number}, 0)
    </insert>
    <select id="getAllPurchaseOrderTables" resultMap="purchaseordermap">
        select * from 2020rg_group12_purchaseorder order by PO_Time desc
    </select>
    <select id="getUnstartPurchaseOrderTables" resultMap="purchaseordermap">
        select * from 2020rg_group12_purchaseorder where PO_State = 0 order by PO_Time desc
    </select>
    <select id="getStartedPurchaseOrderTables" resultMap="purchaseordermap">
        select * from 2020rg_group12_purchaseorder where PO_State = 1 order by PO_Time desc
    </select>
    <select id="getFinishedPurchaseOrderTables" resultMap="purchaseordermap">
        select * from 2020rg_group12_purchaseorder where PO_State = 2 or PO_State = 3 or PO_State = 4 order by PO_Time desc
    </select>
    <select id="getUnreimbursedPurchaseOrderTables" resultMap="purchaseordermap">
        select * from 2020rg_group12_purchaseorder where PO_State = 2 order by PO_Time desc
    </select>
    <select id="getReimbursingPurchaseOrderTables" resultMap="purchaseordermap">
        select * from 2020rg_group12_purchaseorder where PO_State = 3 order by PO_Time desc
    </select>
    <select id="getReimbursedPurchaseOrderTables" resultMap="purchaseordermap">
        select * from 2020rg_group12_purchaseorder where PO_State = 4 order by PO_Time desc
    </select>
    <select id="getPurchaseOrderTablesbyId" parameterType="String" resultMap="purchaseordermap">
    	select * from 2020rg_group12_purchaseorder where PO_Id like #{id} order by PO_Time desc
    </select>
    <select id="getPurchaseOrderTablesbyUser" parameterType="String" resultMap="purchaseordermap">
    	select * from 2020rg_group12_purchaseorder where PO_User like #{user} order by PO_Time desc
    </select>
    <select id="getPurchaseOrderTablesbyBuyer" parameterType="String" resultMap="purchaseordermap">
    	select * from 2020rg_group12_purchaseorder where PO_Buyer like #{buyer} order by PO_Time desc
    </select>
    <select id="getPurchaseOrderTablesbyTime" parameterType="String" resultMap="purchaseordermap">
    	select * from 2020rg_group12_purchaseorder where PO_Time like #{time} order by PO_Time desc
    </select>
    <select id="getUnstartPurchaseOrderTablesbyBuyer" parameterType="String" resultMap="purchaseordermap">
    	select * from 2020rg_group12_purchaseorder where PO_Buyer = #{buyer} and PO_State = 0 order by PO_Time desc
    </select>
    <select id="getStartedPurchaseOrderTablesbyBuyer" parameterType="String" resultMap="purchaseordermap">
    	select * from 2020rg_group12_purchaseorder where PO_Buyer = #{buyer} and PO_State = 1 order by PO_Time desc
    </select>
    <select id="getBuyerbyTableId" parameterType="String" resultType="String">
    	select PO_Buyer from 2020rg_group12_purchaseorder where PO_Id = #{id}
    </select>
    
    <resultMap id="purchaseordercontentmap" type="com.bsb.model.PurchaseOrderContent">
        <id property="id" column="POC_Id"/>
        <result property="tableid" column="PO_Id"/>
        <result property="name" column="POC_Name"/>
        <result property="number" column="POC_Number"/>
        <result property="price" column="POC_Price"/>
        <result property="source" column="POC_Source"/>
        <result property="time" column="POC_Time"/>
        <result property="state" column="POC_State"/>
    </resultMap>
    <select id="getPurchaseOrderContentbyTableId" parameterType="String" resultMap="purchaseordercontentmap">
    	select * from 2020rg_group12_purchaseordercontent where PO_Id = #{id}
    </select>
    <update id="setPurchaseOrderStateStart">
    	update 2020rg_group12_purchaseorder set PO_State = 1 where PO_Id = #{id};
    	update 2020rg_group12_purchaseordercontent set POC_State = 1 where PO_Id = #{id};
    </update>
    <update id="setPurchaseOrderContentFinished">
    	update 2020rg_group12_purchaseordercontent set POC_Price = #{price}, POC_Source = #{source}, POC_Time = Now(), POC_State = 2 where POC_Id = #{id}
    </update>
    <update id="setPurchaseOrderState">
    	update 2020rg_group12_purchaseorder set PO_State = #{state} where PO_Id = #{id}
    </update>
    
</mapper>