<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsb.dao.WarehouseMapper">
    <resultMap id="warehousealter" type="com.bsb.model.WarehouseAlter">
        <id property="Sample_code" column="Sample_code"/>
        <result property="Sample_name" column="Sample_name"/>
        <result property="Sample_alter" column="Sample_alter"/>
        <result property="Reason" column="Reason"/>
        <result property="Quantity" column="Quantity"/>
        <result property="Alter_date" column="Alter_date" javaType="String" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <resultMap id="warehousecontrol" type="com.bsb.model.WarehouseControl">
        <id property="Sample_code" column="Sample_code"/>
        <result property="Sample_name" column="Sample_name"/>
        <result property="Warehousing_date" column="Warehousing_date" javaType="String" jdbcType="TIMESTAMP"/>
        <result property="Storage_conditions" column="Storage_conditions"/>
        <result property="Storage_area" column="Storage_area"/>
        <result property="Quantity" column="Quantity"/>
    </resultMap>
    
    <select id="FindAlter" resultMap="warehousealter">
    	select * from 2020rg_group12_warehousealter;
    </select>
    
    <select id="FindControl" resultMap="warehousecontrol">
    	select * from 2020rg_group12_warehousecontrol;
    </select>
    
    <select id="SampleStore">
    	INSERT INTO 2020rg_group12_warehousealter (Sample_code,Sample_name,Sample_alter,Reason,Quantity,Alter_date)
		VALUES (#{code},#{name},#{alter},#{reason},#{num},#{time});
    </select>
    
    <select id="SampleStore2">
    	INSERT INTO 2020rg_group12_warehousecontrol (Sample_code,Sample_name,Warehousing_date,Storage_conditions,Storage_area,Quantity)
		VALUES (#{code},#{name},#{date},#{con},#{area},#{nums});
    </select>
</mapper>