<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsb.dao.WarehouseMapper">
    <resultMap id="warehousealter" type="com.bsb.model.WarehouseAlter">
        <id property="Sample_code" column="sample_code"/>
        <result property="Sample_name" column="sample_name"/>
        <result property="Sample_alter" column="sample_alter"/>
        <result property="Reason" column="reason"/>
        <result property="Quantity" column="quantity"/>
        <result property="Alter_date" column="alter_date" javaType="String" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <resultMap id="warehousecontrol" type="com.bsb.model.WarehouseControl">
        <id property="Sample_name" column="sample_name"/>
        <result property="Warehousing_date" column="warehousing_date" javaType="String" jdbcType="TIMESTAMP"/>
        <result property="Storage_conditions" column="storage_conditions"/>
        <result property="Storage_area" column="storage_area"/>
        <result property="Quantity" column="quantity"/>
    </resultMap>
    
    <resultMap id="warehousestate" type="com.bsb.model.WarehouseState">
        <id property="Warehouse_area" column="warehouse_area"/>
        <result property="Warehouse_state" column="warehouse_state"/>
        <result property="Warehouse_balance" column="warehouse_balance"/>
        <result property="State_duration" column="state_duration" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <select id="FindAlter" resultMap="warehousealter">
    	select * from 2020rg_group12_warehousealter;
    </select>
    
    <select id="FindControl" resultMap="warehousecontrol">
    	select * from 2020rg_group12_warehousecontrol;
    </select>
    
    <select id="SampleStore">
    	insert into 2020rg_group12_warehousealter (Sample_code,Sample_name,Sample_alter,Reason,Quantity,Alter_date) values (#{code},#{name},#{alter},#{reason},#{num},#{time});
		insert into 2020rg_group12_warehousecontrol (Sample_name,Warehousing_date,Quantity) values (#{name},#{time},#{num}) ON DUPLICATE KEY UPDATE Warehousing_date=#{time},Quantity=Quantity+#{num}
    </select>
    
    <select id="SampleStore2">
    	update 2020rg_group12_warehousecontrol set Storage_conditions= #{con}, Storage_area=#{area} where Sample_name=#{name};
    </select>
    
</mapper>