body{ 
	padding-top: 70px;
	position: relative;
}

ul.nav-tabs{
    top: 70px;
    width: 140px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    position: fixed;
}
    
ul.nav-tabs li{
    margin: 0;
    border-top: 1px solid #ddd;
}

ul.nav-tabs li:first-child{
    border-top: none;
}

ul.nav-tabs li a{
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}

ul.nav-tabs li:first-child a{
    border-radius: 4px 4px 0 0;
}

ul.nav-tabs li:last-child a{
    border-radius: 0 0 4px 4px;
}

